.fs-6pt {
    font-size: 6pt;
}
.fs-7pt {
    font-size: 7pt;
}
.fs-8pt {
    font-size: 8pt;
}
.fs-9pt {
    font-size: 9pt;
}
.fs-10pt {
    font-size: 10pt;
}
.fs-11pt {
    font-size: 11pt;
}
.fs-12pt {
    font-size: 12pt;
}
.fs-13pt {
    font-size: 13pt;
}
.fs-14pt {
    font-size: 14pt;
}

.l-1mm {
    left: 1mm;
}
.l-2mm {
    left: 2mm;
}
.l-3mm {
    left: 3mm;
}
.l-4mm {
    left: 4mm;
}
.l-5mm {
    left: 5mm;
}
.l-6mm {
    left: 6mm;
}
.l-7mm {
    left: 7mm;
}
.l-8mm {
    left: 8mm;
}
.l-9mm {
    left: 9mm;
}
.l-10mm {
    left: 10mm;
}
.l-11mm {
    left: 11mm;
}
.l-12mm {
    left: 12mm;
}
.l-13mm {
    left: 13mm;
}
.l-14mm {
    left: 14mm;
}
.l-15mm {
    left: 15mm;
}
.l-16mm {
    left: 16mm;
}
.l-17mm {
    left: 17mm;
}
.l-18mm {
    left: 18mm;
}
.l-19mm {
    left: 19mm;
}
.l-20mm {
    left: 20mm;
}
.l-21mm {
    left: 21mm;
}
.l-22mm {
    left: 22mm;
}
.l-23mm {
    left: 23mm;
}
.l-24mm {
    left: 24mm;
}
.l-25mm {
    left: 25mm;
}
.l-26mm {
    left: 26mm;
}
.l-27mm {
    left: 27mm;
}
.l-28mm {
    left: 28mm;
}
.l-29mm {
    left: 29mm;
}
.l-30mm {
    left: 30mm;
}
.l-31mm {
    left: 31mm;
}
.l-32mm {
    left: 32mm;
}
.l-33mm {
    left: 33mm;
}
.l-34mm {
    left: 34mm;
}
.l-35mm {
    left: 35mm;
}
.l-36mm {
    left: 36mm;
}
.l-37mm {
    left: 37mm;
}
.l-38mm {
    left: 38mm;
}
.l-39mm {
    left: 39mm;
}
.l-40mm {
    left: 40mm;
}
.l-41mm {
    left: 41mm;
}
.l-42mm {
    left: 42mm;
}
.l-43mm {
    left: 43mm;
}
.l-44mm {
    left: 44mm;
}
.l-45mm {
    left: 45mm;
}
.l-46mm {
    left: 46mm;
}
.l-47mm {
    left: 47mm;
}
.l-48mm {
    left: 48mm;
}
.l-49mm {
    left: 49mm;
}
.l-50mm {
    left: 50mm;
}
.l-51mm {
    left: 51mm;
}
.l-52mm {
    left: 52mm;
}
.l-53mm {
    left: 53mm;
}
.l-54mm {
    left: 54mm;
}
.l-55mm {
    left: 55mm;
}
.l-56mm {
    left: 56mm;
}
.l-57mm {
    left: 57mm;
}
.l-58mm {
    left: 58mm;
}
.l-59mm {
    left: 59mm;
}
.l-60mm {
    left: 60mm;
}
.l-61mm {
    left: 61mm;
}
.l-62mm {
    left: 62mm;
}
.l-63mm {
    left: 63mm;
}
.l-64mm {
    left: 64mm;
}
.l-65mm {
    left: 65mm;
}
.l-66mm {
    left: 66mm;
}
.l-67mm {
    left: 67mm;
}
.l-68mm {
    left: 68mm;
}
.l-69mm {
    left: 69mm;
}
.l-70mm {
    left: 70mm;
}
.l-71mm {
    left: 71mm;
}
.l-72mm {
    left: 72mm;
}
.l-73mm {
    left: 73mm;
}
.l-74mm {
    left: 74mm;
}
.l-75mm {
    left: 75mm;
}
.l-76mm {
    left: 76mm;
}
.l-77mm {
    left: 77mm;
}
.l-78mm {
    left: 78mm;
}
.l-79mm {
    left: 79mm;
}
.l-80mm {
    left: 80mm;
}
.l-81mm {
    left: 81mm;
}
.l-82mm {
    left: 82mm;
}
.l-83mm {
    left: 83mm;
}
.l-84mm {
    left: 84mm;
}
.l-85mm {
    left: 85mm;
}
.l-86mm {
    left: 86mm;
}
.l-87mm {
    left: 87mm;
}
.l-88mm {
    left: 88mm;
}
.l-89mm {
    left: 89mm;
}
.l-90mm {
    left: 90mm;
}
.l-91mm {
    left: 91mm;
}
.l-92mm {
    left: 92mm;
}
.l-93mm {
    left: 93mm;
}
.l-94mm {
    left: 94mm;
}
.l-95mm {
    left: 95mm;
}
.l-96mm {
    left: 96mm;
}
.l-97mm {
    left: 97mm;
}
.l-98mm {
    left: 98mm;
}
.l-99mm {
    left: 99mm;
}
.l-100mm {
    left: 100mm;
}

.t-1mm {
    top: 1mm;
}
.t-2mm {
    top: 2mm;
}
.t-3mm {
    top: 3mm;
}
.t-4mm {
    top: 4mm;
}
.t-5mm {
    top: 5mm;
}
.t-6mm {
    top: 6mm;
}
.t-7mm {
    top: 7mm;
}
.t-8mm {
    top: 8mm;
}
.t-9mm {
    top: 9mm;
}
.t-10mm {
    top: 10mm;
}
.t-11mm {
    top: 11mm;
}
.t-12mm {
    top: 12mm;
}
.t-13mm {
    top: 13mm;
}
.t-14mm {
    top: 14mm;
}
.t-15mm {
    top: 15mm;
}
.t-16mm {
    top: 16mm;
}
.t-17mm {
    top: 17mm;
}
.t-18mm {
    top: 18mm;
}
.t-19mm {
    top: 19mm;
}
.t-20mm {
    top: 20mm;
}
.t-21mm {
    top: 21mm;
}
.t-22mm {
    top: 22mm;
}
.t-23mm {
    top: 23mm;
}
.t-24mm {
    top: 24mm;
}
.t-25mm {
    top: 25mm;
}
.t-26mm {
    top: 26mm;
}
.t-27mm {
    top: 27mm;
}
.t-28mm {
    top: 28mm;
}
.t-29mm {
    top: 29mm;
}
.t-30mm {
    top: 30mm;
}
.t-31mm {
    top: 31mm;
}
.t-32mm {
    top: 32mm;
}
.t-33mm {
    top: 33mm;
}
.t-34mm {
    top: 34mm;
}
.t-35mm {
    top: 35mm;
}
.t-36mm {
    top: 36mm;
}
.t-37mm {
    top: 37mm;
}
.t-38mm {
    top: 38mm;
}
.t-39mm {
    top: 39mm;
}
.t-40mm {
    top: 40mm;
}
.t-41mm {
    top: 41mm;
}
.t-42mm {
    top: 42mm;
}
.t-43mm {
    top: 43mm;
}
.t-44mm {
    top: 44mm;
}
.t-45mm {
    top: 45mm;
}
.t-46mm {
    top: 46mm;
}
.t-47mm {
    top: 47mm;
}
.t-48mm {
    top: 48mm;
}
.t-49mm {
    top: 49mm;
}
.t-50mm {
    top: 50mm;
}
.t-51mm {
    top: 51mm;
}
.t-52mm {
    top: 52mm;
}
.t-53mm {
    top: 53mm;
}
.t-54mm {
    top: 54mm;
}
.t-55mm {
    top: 55mm;
}
.t-56mm {
    top: 56mm;
}
.t-57mm {
    top: 57mm;
}
.t-58mm {
    top: 58mm;
}
.t-59mm {
    top: 59mm;
}
.t-60mm {
    top: 60mm;
}
.t-61mm {
    top: 61mm;
}
.t-62mm {
    top: 62mm;
}
.t-63mm {
    top: 63mm;
}
.t-64mm {
    top: 64mm;
}
.t-65mm {
    top: 65mm;
}
.t-66mm {
    top: 66mm;
}
.t-67mm {
    top: 67mm;
}
.t-68mm {
    top: 68mm;
}
.t-69mm {
    top: 69mm;
}
.t-70mm {
    top: 70mm;
}
.t-71mm {
    top: 71mm;
}
.t-72mm {
    top: 72mm;
}
.t-73mm {
    top: 73mm;
}
.t-74mm {
    top: 74mm;
}
.t-75mm {
    top: 75mm;
}
.t-76mm {
    top: 76mm;
}
.t-77mm {
    top: 77mm;
}
.t-78mm {
    top: 78mm;
}
.t-79mm {
    top: 79mm;
}
.t-80mm {
    top: 80mm;
}
.t-81mm {
    top: 81mm;
}
.t-82mm {
    top: 82mm;
}
.t-83mm {
    top: 83mm;
}
.t-84mm {
    top: 84mm;
}
.t-85mm {
    top: 85mm;
}
.t-86mm {
    top: 86mm;
}
.t-87mm {
    top: 87mm;
}
.t-88mm {
    top: 88mm;
}
.t-89mm {
    top: 89mm;
}
.t-90mm {
    top: 90mm;
}
.t-91mm {
    top: 91mm;
}
.t-92mm {
    top: 92mm;
}
.t-93mm {
    top: 93mm;
}
.t-94mm {
    top: 94mm;
}
.t-95mm {
    top: 95mm;
}
.t-96mm {
    top: 96mm;
}
.t-97mm {
    top: 97mm;
}
.t-98mm {
    top: 98mm;
}
.t-99mm {
    top: 99mm;
}
.t-100mm {
    top: 100mm;
}

.r-1mm {
    right: 1mm;
}
.r-2mm {
    right: 2mm;
}
.r-3mm {
    right: 3mm;
}
.r-4mm {
    right: 4mm;
}
.r-5mm {
    right: 5mm;
}
.r-6mm {
    right: 6mm;
}
.r-7mm {
    right: 7mm;
}
.r-8mm {
    right: 8mm;
}
.r-9mm {
    right: 9mm;
}
.r-10mm {
    right: 10mm;
}
.r-11mm {
    right: 11mm;
}
.r-12mm {
    right: 12mm;
}
.r-13mm {
    right: 13mm;
}
.r-14mm {
    right: 14mm;
}
.r-15mm {
    right: 15mm;
}
.r-16mm {
    right: 16mm;
}
.r-17mm {
    right: 17mm;
}
.r-18mm {
    right: 18mm;
}
.r-19mm {
    right: 19mm;
}
.r-20mm {
    right: 20mm;
}
.r-21mm {
    right: 21mm;
}
.r-22mm {
    right: 22mm;
}
.r-23mm {
    right: 23mm;
}
.r-24mm {
    right: 24mm;
}
.r-25mm {
    right: 25mm;
}
.r-26mm {
    right: 26mm;
}
.r-27mm {
    right: 27mm;
}
.r-28mm {
    right: 28mm;
}
.r-29mm {
    right: 29mm;
}
.r-30mm {
    right: 30mm;
}
.r-31mm {
    right: 31mm;
}
.r-32mm {
    right: 32mm;
}
.r-33mm {
    right: 33mm;
}
.r-34mm {
    right: 34mm;
}
.r-35mm {
    right: 35mm;
}
.r-36mm {
    right: 36mm;
}
.r-37mm {
    right: 37mm;
}
.r-38mm {
    right: 38mm;
}
.r-39mm {
    right: 39mm;
}
.r-40mm {
    right: 40mm;
}
.r-41mm {
    right: 41mm;
}
.r-42mm {
    right: 42mm;
}
.r-43mm {
    right: 43mm;
}
.r-44mm {
    right: 44mm;
}
.r-45mm {
    right: 45mm;
}
.r-46mm {
    right: 46mm;
}
.r-47mm {
    right: 47mm;
}
.r-48mm {
    right: 48mm;
}
.r-49mm {
    right: 49mm;
}
.r-50mm {
    right: 50mm;
}
.r-51mm {
    right: 51mm;
}
.r-52mm {
    right: 52mm;
}
.r-53mm {
    right: 53mm;
}
.r-54mm {
    right: 54mm;
}
.r-55mm {
    right: 55mm;
}
.r-56mm {
    right: 56mm;
}
.r-57mm {
    right: 57mm;
}
.r-58mm {
    right: 58mm;
}
.r-59mm {
    right: 59mm;
}
.r-60mm {
    right: 60mm;
}
.r-61mm {
    right: 61mm;
}
.r-62mm {
    right: 62mm;
}
.r-63mm {
    right: 63mm;
}
.r-64mm {
    right: 64mm;
}
.r-65mm {
    right: 65mm;
}
.r-66mm {
    right: 66mm;
}
.r-67mm {
    right: 67mm;
}
.r-68mm {
    right: 68mm;
}
.r-69mm {
    right: 69mm;
}
.r-70mm {
    right: 70mm;
}
.r-71mm {
    right: 71mm;
}
.r-72mm {
    right: 72mm;
}
.r-73mm {
    right: 73mm;
}
.r-74mm {
    right: 74mm;
}
.r-75mm {
    right: 75mm;
}
.r-76mm {
    right: 76mm;
}
.r-77mm {
    right: 77mm;
}
.r-78mm {
    right: 78mm;
}
.r-79mm {
    right: 79mm;
}
.r-80mm {
    right: 80mm;
}
.r-81mm {
    right: 81mm;
}
.r-82mm {
    right: 82mm;
}
.r-83mm {
    right: 83mm;
}
.r-84mm {
    right: 84mm;
}
.r-85mm {
    right: 85mm;
}
.r-86mm {
    right: 86mm;
}
.r-87mm {
    right: 87mm;
}
.r-88mm {
    right: 88mm;
}
.r-89mm {
    right: 89mm;
}
.r-90mm {
    right: 90mm;
}
.r-91mm {
    right: 91mm;
}
.r-92mm {
    right: 92mm;
}
.r-93mm {
    right: 93mm;
}
.r-94mm {
    right: 94mm;
}
.r-95mm {
    right: 95mm;
}
.r-96mm {
    right: 96mm;
}
.r-97mm {
    right: 97mm;
}
.r-98mm {
    right: 98mm;
}
.r-99mm {
    right: 99mm;
}
.r-100mm {
    right: 100mm;
}

.playfair-font {
    font-family: "Playfair Display", serif;
}
.inter-font {
    font-family: "Inter", sans-serif;
}

.outline-1 {
    text-shadow: 0 0 1px #ffffff, 1px 0 1px #ffffff, -1px 0 1px #ffffff,
        0 1px 1px #ffffff, 0 -1px 1px #ffffff;
}

.outline-2 {
    text-shadow: 0 0 1px #000, 1px 0 1px #000, -1px 0 1px #000, 0 1px 1px #000,
        0 -1px 1px #000, 1px 1px 1px #000, -1px -1px 1px #000, -1px 1px 1px #000,
        1px -1px 1px #000;
}

.outline-3 {
    text-shadow: 0 0 2px #000, 1px 0 2px #000, -1px 0 2px #000, 0 1px 2px #000,
        0 -1px 2px #000, 2px 2px 2px #000, -2px -2px 2px #000, -2px 2px 2px #000,
        2px -2px 2px #000;
}

.outline-4 {
    text-shadow: 0 0 2px #000, 2px 0 2px #000, -2px 0 2px #000, 0 2px 2px #000,
        0 -2px 2px #000, 2px 2px 2px #000, -2px -2px 2px #000, -2px 2px 2px #000,
        2px -2px 2px #000, 3px 3px 2px #000, -3px -3px 2px #000;
}
html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}

.scale-wrapper {
    width: 85mm;
    height: 55mm;
    transform-origin: top left;
    transform: scale(5); /* 50% zoom */
}
.id-card {
    width: 85mm;
    height: 55mm;

    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);


}

.photo {
    position: absolute;
    width: 14mm;
    height: 18mm;
    left: 63mm;
    top: 20mm;
    border: 1px solid #000;
    object-fit: cover;
    background: #fff;
}